<p id="notice"><%= notice %></p>

<h1>Listing Servers</h1>

<table>
  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= link_to server.host, server.host, target: '_blank' %></td>
        <% if my_server? server %>
          <td><%= link_to 'Show', server %></td>
          <td><%= link_to 'Edit', edit_server_path(server) %></td>
          <td><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Server', new_server_path unless has_server? %>
